.navbar-custom {
    /* color: #FFFFFF; */
    background-color: #2b67a8;
}
.nav {
    color: #FFFFFF;
    background-color: #2b67a8;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #FFFFFF;
}